.main {
  background-color: var(--main);
  padding: 3px;
  padding-bottom: 1px;
  min-height: fit-content;
  border-radius: 2px;
}

.card-note {
  background-color: var(--card) !important;
  min-width: 375px;
  max-width: 375px;
}

.login-box {
  max-width: 400px;
  margin: 6rem auto 0 auto;
  padding: 1%;
  display: flex;
  flex-direction: column;
  gap: 2;
  box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5);
  border-radius: 5px;
  background-color: var(--card);
}

.user-details-box {
  max-width: 450px;
  min-width: 450px;
  margin: auto;
  padding: 1%;
  display: flex;
  flex-direction: column;
  gap: 2;
  box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5);
  border-radius: 5px;
  background-color: var(--card);
}

.btn {
  color: var(--text) !important;
  border-color: var(--accent) !important;
}

.btn:hover,
.btn:focus {
  background-color: var(--accent) !important;
  color: #000 !important;
}

.success-text {
  color: var(--success);
}

.error-text {
  color: var(--error) !important;
}
